// Variables

$darkPurple: #1b1523;
$darkBlue: #2c2931;
$darkBlueHover: #413e47;
$darkGrey: rgba(255, 255, 255, 0.2);
$grey: rgba(255, 255, 255, 0.5);
$pink: #c23866;
$darkPink: rgba(194, 56, 102, 0.5);
$lightGrey: #eee;
$white: #fff !default;

$bodyFont: 'Vollkorn SC';
$specialFont: 'Gloria Hallelujah', cursive;

$border-radius: 0.25rem !default;
